div.hint { 
  width: 60px; 
  height: 30px;
  background: #47C440;
  color: white;
  padding: 3px;
  padding-right: 6px;
  border: solid 1px black; 
  float: left;
  text-align: center;
  border-radius: 0 10px;
  visibility: hidden;
  position: absolute;
}

div.checkins-graphs { 
  width: 100%; 
  background: #fff;
  color: black;
  float: left;
}

div.checkins-header { 
  width: 100%;
  height: 35px;
  background: transparent;
  color: #494949;
  position: relative;
}

div.checkins-total-day { 
  width: 70px;
  background: transparent;
  color: #00800d;
  left: 25%;
  top: -9px;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  position: absolute;
}

div.checkins-buttons { 
  width: 130px;
  background: transparent;
  left: 592px;
  top: -10px;
  position: absolute;
}

div.checkins-empty-space {
  height: 25px;
  width: 100%;
  background: transparent;
}

a.total-time {
  font-size: 12pt;
  color: #db0202;
  font-weight: bold;
  text-decoration: none;
}

div.timedisplay { 
  width: 20%;
  background: transparent;
  color: #494949;
  left: 27%;
  top: 8px;
  position: absolute;
}

div.checkins-create-button {
  width: 25%;
  background: transparent;
}

div.checkins-edit-record {
  width: 100%;
  height: 50px;
  background: transparent;
  color: #494949;
  position: relative;
}

div.checkins-edit-button {
  width: 50px;
  background: transparent;
  right: 35%;
  top: -10px;
  position: absolute;
}