.pagination_my {
  height: 80px;
  margin: 0px 0;
  position: relative;
}

.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.work-times {
    float: right;
    width: 675px;
    height: 45px;
    position: relative;
}

div.work-times1 {
    width: 16.66%;
    height: 100%;
    left: 0%;
    position: absolute;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}
div.work-times2 {
    width: 16.66%;
    height: 100%;
    left: 16.66%;
    position: absolute;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}
div.work-times3 {
    width: 16.66%;
    height: 100%;
    left: 33.32%;
    position: absolute;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}
div.work-times4 {
    width: 16.66%;
    height: 100%;
    left: 49.98%;
    position: absolute;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}
div.work-times5 {
    width: 16.66%;
    height: 100%;
    left: 66.64%;
    position: absolute;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}
div.work-times6 {
    width: 16.66%;
    height: 100%;
    left: 83.3%;
    position: absolute;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}

span.good-work {
    color: green;
    font-size: 16pt;
    letter-spacing: 1px;
}

span.bad-work {
    color: red;
    font-size: 16pt;
    letter-spacing: 1px;
}

div.error-image {
    text-align: center;
}

div.employee-header {
    width: 100%;
    height: 38px;
    position: relative;
    font-size: 12pt;
}

div.employee-header-month {
    width: 12%;
    left: 0%;
    top: 0px;
    position: absolute;
}

div.employee-header-pagination {
    width: 10%;
    left: 13%;
    top: -26px;
    position: absolute;
}

div.employee-header-time1 {
    position: absolute;
    width: 10%;
    left: 40%;
    top: 0px;
    text-align: center;
}

div.employee-header-time2 {
    position: absolute;
    width: 10%;
    left: 50%;
    top: 0px;
    text-align: center;
}

div.employee-header-time3 {
    position: absolute;
    width: 10%;
    left: 60%;
    top: 0px;
    text-align: center;
}

div.employee-header-time4 {
    position: absolute;
    width: 10%;
    left: 70%;
    top: 0px;
    text-align: center;
}

div.employee-header-time5 {
    position: absolute;
    width: 10%;
    left: 80%;
    top: 0px;
    text-align: center;
}

div.employee-header-time6 {
    position: absolute;
    width: 10%;
    left: 90%;
    top: 0px;
    text-align: center;
}

button.play-button {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid gray;
    outline: none;
}

button.play-button:hover {
    border-color: white;
}

button.play-button:active {
    background-color: gray;
}
