.pagination_my {
  height: 65px;
  margin: 0px 0;
}

.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.work-times {
    float: right;
    width: 680px;
    height: 45px;
    position: relative;
}

div.work-times1 {
    width: 170px;
    height: 100%;
    left: 0px;
    position: absolute;
    text-align: center;
    line-height: 40pt;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}
div.work-times2 {
    width: 170px;
    height: 100%;
    left: 170px;
    position: absolute;
    text-align: center;
    line-height: 40pt;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}
div.work-times3 {
    width: 170px;
    height: 100%;
    left: 340px;
    position: absolute;
    text-align: center;
    line-height: 40pt;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}
div.work-times4 {
    width: 170px;
    height: 100%;
    left: 510px;
    position: absolute;
    text-align: center;
    line-height: 40pt;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #424242;
    font-family: Helvetica;
}

span.good-work {
    color: green;
    font-size: 16pt;
    letter-spacing: 1px;
}

span.bad-work {
    color: red;
    font-size: 16pt;
    letter-spacing: 1px;
}

div.error-image {
    text-align: center;
}


