{% extends "base.html" %}

{% block title %}TimeLock - Checkin{% endblock %}

{% block page_content %}
<div class = "pagination">
	{% include '_pagination_checkin.html' %}
</div>

<div>
	{% for key in keys %}
		<div class="checkins-graphs">
			<div class="checkins-header">
				<h4>{{ moment(key).format('MMMM Do YYYY') }}</h4>
				<div class="checkins-total-day">+25.0</div>
				<div class="checkins-buttons">
					<a class="btn btn-success"  href="/"><img src="{{ url_for('static', filename='cross.png') }}" width="14" height="14"></a>
					<a class="btn btn-warning"  href="/"><img src="{{ url_for('static', filename='draw.png') }}" width="14" height="14"></a>
					<a class="btn btn-danger"  href="/"><img src="{{ url_for('static', filename='delete.png') }}" width="14" height="14"></a>
				</div>
			</div>
			{{ graphs[key] }}
		</div>
	{% endfor %}
</div>


<div class="page-header">
		<a class="btn btn-default"  href="{{ url_for('checkin.checkin_with_current_time') }}">Чекин 1 вариант</a>
		<br>
		<br>
		<a class="btn btn-danger" href="{{ url_for('checkin.checkin_with_custom_time') }}">Чекин 2 вариант</a>

</div>
{% endblock %}
