{% extends "base.html" %}

{% block title %}TimeLock - Checkin{% endblock %}

{% block page_content %}
<div class="page-header">

		<a class="btn btn-default"  href="{{ url_for('checkin.checkin_with_current_time') }}">Чекин 1 вариант</a>
		<br>
		<br>
		<a class="btn btn-danger" href="{{ url_for('checkin.checkin_with_custom_time') }}">Чекин 2 вариант</a>

</div>

<div>
	{% for key in keys %}
		<h3>{{ moment(key).format('MMMM Do YYYY') }}</h3>
		{{ graphs[key] }}
	{% endfor %}
</div>

<div class = "pagination">
	{% include '_pagination_checkin.html' %}
</div>
{% endblock %}
