{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TimeLock - Edit checkins{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Выберите чекин и измените его</h1>
</div>

<div>
	{% for key in keys %}
		<div class="checkins-edit-record">
			<h3>{{ key }}</h3>
			<div class="checkins-edit-button">
				<a class="btn btn-warning"  href="{{ url_for('checkin.edit_checkin', date_string = checkins[key]) }}">
					<img src="{{ url_for('static', filename='draw.png') }}" width="14" height="14">
				</a>
			</div>
		</div>
	{% endfor %}
	{% if dict_is_empty %}
		<h3>Нечего менять =(</h3>
	{% endif %}
</div>

{% endblock %}