<ul class = "posts">
    {% for user in company.users %}
    <li class = "post">
        <div class = "profile-thumbnail">
            <a href="{{ url_for('main.user', user_id = user.id) }}">
                <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size = 40) }}">
            </a>
        </div>
	    <div class="post-content">
            <div class="work-times">
                <div class="work-times1">{{ times_dict[user.id][0][0] }} 
                    {% if delta_dict[user.id][0][1] %}
                        <span class="good-work">
                    {% else %}
                        <span class="bad-work">
                    {% endif %}
                    {{ delta_dict[user.id][0][0] }}
                    </span>
                </div>
                <div class="work-times2">{{ times_dict[user.id][0][1] }} 
                    {% if delta_dict[user.id][1][1] %}
                        <span class="good-work">
                    {% else %}
                        <span class="bad-work">
                    {% endif %}
                    {{ delta_dict[user.id][1][0] }}
                    </span>
                </div>
                <div class="work-times3">{{ times_dict[user.id][0][2] }} 
                    {% if delta_dict[user.id][2][1] %}
                        <span class="good-work">
                    {% else %}
                        <span class="bad-work">
                    {% endif %}
                    {{ delta_dict[user.id][2][0] }}
                    </span>
                </div>
                <div class="work-times4">{{ times_dict[user.id][0][3] }} 
                    {% if delta_dict[user.id][3][1] %}
                        <span class="good-work">
                    {% else %}
                        <span class="bad-work">
                    {% endif %}
                    {{ delta_dict[user.id][3][0] }}
                    </span>
                </div>
            </div>
	    	<div class="post-author">
	    		<a href="{{ url_for('main.user', user_id = user.id) }}">
	    			{{ user.username }}
	    		</a>
	    	</div>
	    	<div class="post-body">
                {% if user.first_name or user.last_name %}
                <p>
                    {% if user.last_name %}{{ user.last_name }}{% endif %}
                    {% if user.first_name %}{{ user.first_name }}{% endif %}
                    {% if user.middle_name %}{{ user.middle_name }}{% endif %}
                </p>
                {% endif %}
                <p>Ставка = {{ user.rate }} часов</p>
            </div>

    	</div>
    </li>
    {% endfor %}
</ul>