<ul class = "posts">
    {% for user in company.users %}
    <li class = "post">
        <div class = "profile-thumbnail">
            <a href="{{ url_for('main.user', user_id = user.id) }}">
                <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size = 40) }}">
            </a>
        </div>
	    <div class="post-content">
	    	<div class="post-date">{{ moment(user.member_since).fromNow() }}</div>
	    	<div class="post-author">
	    		<a href="{{ url_for('main.user', user_id = user.id) }}">
	    			{{ user.username }}
	    		</a>
	    	</div>
	    	<div class="post-body">
                {% if user.first_name or user.last_name %}
                <p>
                    {% if user.last_name %}{{ user.last_name }}{% endif %}
                    {% if user.first_name %}{{ user.first_name }}{% endif %}
                    {% if user.middle_name %}{{ user.middle_name }}{% endif %}
                </p>
                {% endif %}
            </div>
    	</div>
    </li>
    {% endfor %}
</ul>