{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} 
	TimeLock - {{ company.company_name }}
{% endblock %}

{% block page_content %} 
	<div class="page-header">
		<h1>{{ company.company_name }}</h1>
	</div>
	<div class="employee-header">
		<p>Список сотрудников:</p>
		<div class="employee-header-month">Октябрь 2016</div>
		<div class="employee-header-pagination">
			<ul class = "pagination">
				<li><a href="{{ '{}{}'.format(pagination_url, page + 1) }}">&laquo;</a></li>
				<li><a href="{{ '{}{}'.format(pagination_url, page - 1) }}">&raquo;</a></li>
			</ul>
		</div>	
	</div>
	{% include '_employees.html' %}
	<br>
	{% if current_user.is_administrator() or current_user.is_moderator() %}
		<a class="btn btn-default"  href="{{ url_for('main.user_add', company_name = company.company_name) }}">Добавить пользователя</a>
	{% endif %}
{% endblock %}